body {
  padding: 50px;
}

.tags {
  font-style: italic;
}

.tags .tag:after {
  content: ", ";
}

.tags .tag:last-of-type:after {
  content: "";
}

div.tooltip-inner {
  text-align: left;
  max-width: 280px;
}

.tag-tooltip.has-description {
  border-bottom: 1px dotted #ccc;
}

a .glyphicon-new-window {
  font-size: 10px;
  margin-left: 2px;
  top: 0px;
}